:root {
    --red: hsl(0, 78%, 62%);
    --red-big-tittle: hsl(0, 77%, 63%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.footer-section {
    background: url(../assets/backgrounds-layers/Footer.png);
    justify-content: center;
    margin-top: 10rem;
    display: flex;
    z-index: 700;
    padding: 30px;
}


.footer-section .auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
}


.footer-section .big-title h1 {
    font-size: 70px;
    font-weight: 800;
    font-family: "Pacifico", cursive;
    color: #f6f6f6;
}

.footer-section .big-title {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* İçeriği yatayda merkezlemek için */
    width: 100%; /* Genişlik 100% olsun ki içeriği yatayda merkezleyebilelim */
    margin-top: 1em;
}

.footer-section .tittle-desc {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* İçeriği yatayda merkezlemek için */
    width: 100%; /* Genişlik 100% olsun ki içeriği yatayda merkezleyebilelim */
    margin-top: 5em;
}



.footer-section .tittle-desc h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
}

.social-links {
    justify-content: center;
    margin-top: 7.5rem;
}

.social-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links .social-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f6f6f6;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    text-decoration: none;
}

.social-links .social-item:hover {
    background: var(--red);
}

.social-links .social-desc {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #f6f6f6;
    font-weight: 600;
    margin-bottom: 1em;
}

.social-links .footer-text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 1.5em;

}
