@import url('https://fonts.googleapis.com/css2?family=Allura&family=Archivo+Black&family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Silkscreen:wght@400;700&family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #e9d8ff;
}

.container-login {
    top: 0;
    left: 0;
    z-index: 50;
}

.container-login .page-title {
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

.container-login .page-title h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: black;
    margin: 0;
}

.page-form {
    width: 100%;
    padding-right: 84px;
    margin-top: 20px;
    display: block;
    text-align: center;
}


.have-account {
    font-family: "Rubik", sans-serif;
    color: black;
    font-weight: 350;
    font-size: 15px;
    line-height: 20px;
    margin-right: 15px !important;
}

.have-account a {
    text-decoration: underline;
    font-weight: 500;
    color: black;
}

.have-account a:hover {
    color: #2260ff;
}


.page-form .form-label {
    font-family: "Rubik", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.form-group {
    margin-top: 20px;
    margin-right: -5px;

}

.login-or {
    font-family: "Rubik", sans-serif;
    color: black;
}

.input-field {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-container {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

label {
    position: relative;
    font-family: "Rubik", sans-serif;

}

label .input {
    width: 100%;
    max-width: 302px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

label .input+span {
    position: absolute;
    left: 10px;
    top: 25px;
    color: grey;
    font-size: 0.5em;
    text-align: right;
    cursor: text;
    transition: 0.3s ease;
}

label .input:placeholder-shown+span {
    top: 25px;
    font-size: 0.8em;
}

label .input:focus+span,
.form label .input:valid+span {
    top: 25px;
    font-size: 0.7em;
    font-weight: 600;
}

label .input:valid+span {
    color: rgb(0, 255, 119);
}


.login-btn {
    background-color: black;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    width: 300px;
}

.login-btn:hover {
    background-color: rgb(31, 31, 31);
}

.another-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
    width: 300px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
    height: 50px;
}

.another-btn:hover {
    background-color: #d9caed;
}

.another-btn img {
    margin-right: 5px;
}

.another-btn i {
    margin-right: 5px;
    font-size: 24px;
}

.forgot-pass {
    font-family: "Rubik", sans-serif;
    color: black;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 9rem;
}

.forgot-pass:hover {
    color: #2260ff;
}

.terms {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 400;
}


@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .page-title {
        padding-right: 20px;
    }

    .page-title h1 {
        font-size: 40px;
    }

    .signup-btn {
        width: 80%; /* Adjust width as needed */
        max-width: 250px; /* Limit maximum width */
    }

    /* Add more adjustments as needed */
}
