@import url('https://fonts.googleapis.com/css2?family=Allura&family=Archivo+Black&family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Yatay kaydırmayı engeller */
    background: url('../../static/assets/backgrounds/1.jpg');
    box-sizing: border-box; /* Box-sizing'i border-box olarak ayarlar */
}


.container-login {
    top: 0;
    left: 0;
    z-index: 50;
    margin-right: 2em;
}

main {
    margin-top: 4em; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    opacity: 0.8;
    color: white;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Opacity değeri burada ayarlanır */
    z-index: 100;
    margin-bottom: 20px;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-div a {
    font-family: "Courgette", cursive;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

.header-div img.logo {
    margin-right: 10px; /* İsteğe bağlı olarak logo ile yazı arasına boşluk ekleyebilirsiniz */
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
}

.container-login .page-title {
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.forgot-pass {
    color: white;
    font-size: 0.9em;
    margin-top: 10px;
    text-decoration: none;
}

.forgot-pass:hover {
    color: #dddddd !important;
}

.container-login .page-title h1 {
    font-family: "Pacifico", cursive;
    line-height: 1.2;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
    margin: 0;
}

.page-form {
    width: 100%;
    margin-top: 20px;
    display: block;
    text-align: center;
    overflow-x: hidden; /* Yatay kaydırmayı engeller */
}


.have-account {
    font-family: "Rubik", sans-serif;
    color: #ffffff;
    font-weight: 350;
    font-size: 15px;
    line-height: 20px;
    margin-right: 15px !important;
}

.have-account a {
    text-decoration: underline;
    font-weight: 500;
    color: #ffffff;
}


.have-account a:hover {
    color: black;
    text-decoration: underline;
}



.page-form .form-label {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.form-group {
    margin-top: 20px;
    margin-right: -5px;

}

.login-or {
    font-family: "Rubik", sans-serif;
    color: white;
}

.input-field {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-container {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

label {
    position: relative;
    font-family: "Rubik", sans-serif;

}

label .input {
    width: 100%;
    max-width: 302px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

label .input+span {
    position: absolute;
    left: 10px;
    top: 25px;
    color: grey;
    font-size: 0.5em;
    text-align: right;
    cursor: text;
    transition: 0.3s ease;
}

label .input:placeholder-shown+span {
    top: 25px;
    font-size: 0.8em;
}

label .input:focus+span,
.form label .input:valid+span {
    top: 25px;
    font-size: 0.7em;
    font-weight: 600;
}

label .input:valid+span {
    color: rgb(0, 255, 119);
}


/* CSS */
.button-86 {
    all: unset;
    width: 160px;
    height: 30px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #9c6df9;
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

.another-btn {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
    width: 300px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
    height: 50px;
}

.another-btn:hover {
    background-color: black;
}

.another-btn img {
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.another-btn i {
    margin-right: 5px;
    font-size: 24px;
}

.forgot-pass {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 9rem;
}

.forgot-pass:hover {
    color: #2260ff;
}

.terms {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.terms a {
    color: #ffffff;
}

.terms a:hover {
    color: #9c6df9;
}

@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */

    .page-title {
        padding-right: 20px;
    }

    .page-title h1 {
        font-size: 40px;
    }

    
    .another-btn {
        width: 80%; /* Adjust width as needed */
        max-width: 250px; /* Limit maximum width */
    }

    label .input {
        max-width: 250px; /* Adjust input width */
    }

    .input-container {
        margin-top: 10px; /* Adjust spacing */
    }

    .forgot-pass {
        margin-left: 0; /* Center forgot password link */
    }

    .form-group {
        margin-right: 0; /* Adjust margin */
    }

    .terms {
        font-size: 10px; /* Keep the font size consistent */
        text-align: center; /* Center align the text */
    }
    /* Add more adjustments as needed */
}