@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Jacquarda+Bastarda+9&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=VT323&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    /* cursor: url('../assets/scrool/pixelsword.png'), auto; */
}

.backgroundimage {
    /* background: linear-gradient(to right, #ff6f91b1, #d65db2b9); */
    background: linear-gradient(135deg, #FB5956, #F9465C, #FE6951);
    /* Resmin tekrar etmemesini sağlar */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    /* Navbar'ın içerikten üstte kalmasını sağlar */
}


.nav-links li {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.nav-links li:not(:last-child) {
    margin-top: 15px; /* Önceki değer: 35px */
}




.navbar-item {
    font-size: 0.9em;
    color: white;
    position: relative;
    margin-right: 1em;
}

.navbar-item i {
    color: coral;
}

.navbar-item:hover {
    color:coral;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a,
.logo-container a:link,
.logo-container a:visited {
    color: white;
    text-decoration: none;
}

.logo-container a .logo {
    color: white;
    /* Ya da istediğiniz rengi belirtin */
}

.logo-container .logo a:hover {
    color:coral;
}

.logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 2.3em;
    color: white;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: 1em;
    margin-left: auto
}

.nav-links li {
    margin-right: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}



.profile-menu {
    position: relative;
    margin-right: 20px;
}

.profile-menu img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1/1; 
    object-fit: cover;
}

.profile-menu img:hover {
    filter: brightness(1.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -55;
    top: 58px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.dropdown-content a:hover {
    color: white;
    background-color: coral;
}

.dashboard-text p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin: 0;
}

.dropdown-content a:hover i {
    color: white; /* i elementinin metin rengini beyaz yapın */
    background-color: coralwhite; /* i elementinin arka plan rengini başlangıç değerine sıfırlayın */
}

.dropdown-content a i {
    color: coral; /* i elementinin rengini a elementinden miras alır */
}

.profile-menu:hover .dropdown-content {
    display: block;
}

.profile-menu i {
    color: coral;
}

/**/

.notification-menu {
    position: relative;
    margin-right: 20px;
}


.notification-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -60;
    top: 41px;
    border-radius: 5px;
}

.notification-content a {
    color: black;
    padding: 12px 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.notification-content a:hover {
    background-color: coral;
}

.notification-menu:hover .notification-content {
    display: block;
}

.notification-menu .notification-count {
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 12px;
}

.notification-menu i {
    color: coral; /* Icon rengi */
    margin-right: 5px; /* İkon ile bildirim sayısı arasında boşluk bırakmak için */
    font-size: 24px;
}

.container-mid {
    margin-top: 4rem;
    display: flex;
    flex-direction: column; /* İçerikleri dikey olarak düzenle */
    align-items: center; /* İçerikleri yatay olarak ortala */
    justify-content: center; /* İçerikleri dikey olarak ortala */
}

.container-mid .search-container {
    margin-top: 4.5em;
}


.content-card {
    background-color: rgb(255, 255, 255) !important;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1300px;
    position: relative;
    width: 90vw;
    max-height: auto;
    height: auto;
    display: block;
    justify-content: center; /* İçerik kartlarını ortala */
    align-items: flex-start; /* İçerik kartlarını üstten hizala */
}


.burger-menu {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
}


/* Search bar */

.search-container {
    margin-bottom: 1em;
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-input {
    padding: 10px 20px;
    border-radius: 36px;
    border: none;
    width: 80vw; /* Genişlik 100% */
    max-width: 800px; /* Maksimum genişlik ayarı */
    height: 70px; /* Yükseklik ayarı */
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* Düğmeyi dikey olarak ortala */
    height: 100%;
    border: none;
    background: none;
}

.search-button i {
    font-size: 28px;
    margin-right: 13px;
}

/* Search Cards */

.filter-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px 0 0 0; /* Sağ üst köşeyi yuvarlat */
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: center !important;
}

.content-card .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Kartları üstten hizala */
    margin-top: 3em;
}

.content-card .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 90%;
    max-width: 300px;
    background-color: #1b2028;
    border-radius: 16px;
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
    background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%);
}

.content-card .profile:after {
    content: "";
    display: block;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
}

.content-card .profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    position: relative;
}

.content-card .profile-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.content-card .profile-username {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.content-card .profile-user-handle {
    color: #7d8396;
}

.content-card .profile-actions {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-card .profile-actions > * {
    margin: 0 0.25rem;
}

.content-card .btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    transition: 0.15s ease;
}

.content-card .btn--primary {
    border-radius: 99em;
    background-color: #ff378a;
    background-image: linear-gradient(135deg, #ff378a, #ab1251);
    color: #fff;
    padding: 0 1.375em;
}

.content-card .btn--primary:hover,
.content-card .btn--primary:focus {
    color: rgb(0, 255, 76);
    font-weight: 500;
    background-size: 150%;
}

.content-card .btn--icon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 3px solid #343945;
    color: #7d8396;
}

.content-card .btn--icon i {
    font-size: 1.25em;
}

.content-card .btn--icon:hover,
.content-card .btn--icon:focus {
    border-color: #343945;
    color: coral;
}

.content-card .profile-links {
    margin-top: 3.5rem;
}

.content-card .link {
    text-decoration: none;
    color: #7d8396;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.content-card .link i {
    font-size: 1.25em;
}

.content-card .link:hover {
    color: coral;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
}

.filter-button {
    background-color: #ff378a;
    color: white;
    border: none;
    padding: 0.3em 1em;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    transition: 0.15s ease;
}


/* Responsive Navbar */


@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .burger-menu {
        display: block;
    }


    .notification-li {
        text-align: center;
        margin-bottom: 2em;
    }

    .logo {
        font-size: 2em;
        margin-left: 10px;
    }

    .profile-menu {
        margin-right: 10px;
    }

    .profile-menu .dropdown-content {
        right: auto; /* Reset the right positioning */
        left: 50%; /* Center it horizontally relative to the profile-menu */
        transform: translateX(-50%); /* Shift it left by 50% of its width */
        top: 60px; /* Position it below the profile image */
    }

    .notification-menu .notification-count {
        right: auto;
        left: calc(50% - 5px); /* sağ kenardan 15 piksel sola */
    }

}