<link rel="stylesheet" href="../../static/css/404.css">

<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="backgroundimage">
        
        <div class="container-mid">
            <div class="content-card">
                <div class="content-card-header">
                    <h1>404</h1>
                </div>
                <div class="content-card-body">
                    <p>Page not found</p>
                </div>
            </div>
        </div>

    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const burgerMenu = document.getElementById('burger-menu');
        const navLinks = document.getElementById('nav-links');

        burgerMenu.addEventListener('click', function () {
            navLinks.classList.toggle('active');
        });
    });
</script>