<link rel="stylesheet" href="../../static/css/change-password.css">
<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico">
</head>

<div class="container-changepass">
    <div class="page-title">
        <h1>change password</h1>
    </div>
    <div class="page-form">
        <div style="margin-bottom: 2em;">
            <span class="page-desc">Please enter your current password along with <br> your new password to change it.</span>
        </div>
        <div class="form-group">
            <div class="input-container">
                <form method="POST">
                    <div class="input-field">
                        <label>
                            <input required name="password" type="password" class="input">
                            <span>PASSWORD</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <label>
                            <input required name="confirmpassword" type="password" class="input">
                            <span>CONFIRM PASSWORD</span>
                        </label>
                    </div>
                    <button class="button-86" role="button">lets change pass</button>
                </form>
                <div>
                    <span class="have-account">Don't have an account? <a href="">Sign up</a></span>
                </div>
                <div style="position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;">
                    <p class="terms">By change-pass, you agree to our <a href="">Terms and Conditions.</a><br> Learn how we use your data in our <a href="">Privacy Policy.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>