<link rel="stylesheet" href="../../static/css/forgot-pass.css">
<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico">
</head>

<div class="container-forgotpass">
    <div class="page-title">
        <h1>forgot password</h1>
    </div>
    <div class="page-form">
        <div style="margin-bottom: 2em;">
            <span class="page-desc">Enter the email address associated with your account <br> and we'll send you a link to reset your password.</span>
        </div>
        <div class="form-group">
            <div class="input-container">
                <form method="POST">
                    <div class="input-field">
                        <label>
                            <input  name="email" placeholder="" type="email" class="input">
                            <span>EMAIL</span>
                        </label>
                    </div>
                    <button class="button-86" role="button">lets send email</button>
                </form>
                <div>
                    <span class="have-account">Don't have an account? <a href="/signup">Sign up</a></span>
                </div>
                <div style="position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;">
                    <p class="terms">By forgot-pass, you agree to our <a href="">Terms and Conditions.</a><br> Learn how we use your data in our <a href="">Privacy Policy.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>