<link rel="stylesheet" href="../static/css/login.css">
<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<header>
    <div class="header-div">
        <a href="/">42Tinder</a>
    </div>
</header>

<main>
    <div class="container-login">
        <div class="page-title">
            <h1>loginღ</h1>
        </div>
        <div class="page-form">
            <span class="have-account">Don't have an account? <a href="/signup">Sign up</a></span>
            <div class="form-group">
                <div class="input-container">
                    <form method="POST">
                        <div class="input-field">
                            <label>
                                <input  name="email" id="id_email" placeholder="" type="text" class="input" required>
                                <span>EMAIL</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <label>
                                <input  name="password" id="id_password" placeholder="" type="password" class="input" required>
                                <span>PASSWORD</span>
                            </label>
                        </div>
                        
                        <div class="input-field">
                            <a class="forgot-pass" href="/forgot-password">Forgot your password?</a>
                        </div>
                        <button class="button-86" role="button">lets login</button>
                    </form>
                    <div class="input-field">
                        <p class="login-or">OR</p>
                    </div>
                    <form method="POST">
                        <div class="input-field">
                            <button class="another-btn"><img src="../../static/assets/backgrounds-layers/intra-42-white.svg"> login with Intra42</button>
                            <button class="another-btn"><i class="fa-brands fa-google"></i> login with Google</button>
                            <button class="another-btn"><i class="fa-brands fa-github"></i> login with GitHub</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            Swal.fire({
                                icon: '{{ category }}',  // 'success', 'error', 'info', vb. olabilir
                                title: '{{ message }}',  // Flash mesajı
                                showConfirmButton: true,
                                timer: 5000  // Mesajın ekranda kalma süresi (milisaniye)
                            });
                            
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            });
        </script>
    </div>
</main>
<footer>
    <div class="footer-div">
        <p class="terms">By logining, you agree to our <a href="">Terms and Conditions.</a><br> Learn how we use your data in our <a href="">Privacy Policy.</a></p>
    </div>
</footer>

