<link rel="stylesheet" href="../../static/css/profile.css">

<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="backgroundimage">
        <nav class="navbar">
            <div class="logo-container">
                <div class="logo">
                    <a class="navbar-item" href="/home">
                        Tinder42
                    </a>
                </div>
            </div>
            <div class="burger-menu" id="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="nav-links" style="margin-top: 1em !important;" id="nav-links">
                <li><a class="navbar-item" href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a class="navbar-item" href="/chat"><i class="fa-solid fa-comments"></i> Chat</a></li>
                <li><a class="navbar-item" href="/search"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
                <li><a class="navbar-item" href="/matcher"><i class="fa-solid fa-heart-circle-bolt"></i> Matcher</a></li>

                <li class="notification-li">
                    <a href="/Bitlis/notifications/" class="notification-link">
                        <div class="notification-menu">
                            <i class="fas fa-bell"></i>
                            <span class="notification-count">10</span>
                        </div>
                    </a>
                </li>


                <li>
                    <div class="profile-menu">
                        <img src="{{ url_for('main.media_files', filename=requested_profile_pic) }}" alt="Profile Picture">

                        <div class="dropdown-content">
                            <a href="/profile/{{user.username}}"><i class="fa-solid fa-id-badge"></i> Profile</a>
                            <a href="/profile-settings/{{user.username}}"><i class="fa-solid fa-gear"></i> Profile Settings</a>
                            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container-mid">


            <div class="profile-card">
                <div class="profile-picture-gallery">
                    <div id="profileCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for picture in profile_user.profile_pictures %}
                                <div class="carousel-item {% if picture.is_profile_picture %}active{% endif %}">
                                    <img src="{{ url_for('main.media_files', filename=picture.image_path) }}" alt="Profile Picture" class="d-block w-100" style="width: 100px; height: 100px; object-fit: cover;">
                                    {% if profile_user.username != user.username %}
                                        <div class="like-area">
                                            <button class="like-button"><i class="fas fa-heart"></i></button>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#profileCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">&#60;</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#profileCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">&#62;</span>
                        </button>
                    </div>
                    
                    {% if not profile_user.profile_pictures %}
                        <div class="profile-picture-container">
                            <img src="../../static/assets/team/eyagiz.jpeg" alt="Profile Picture" class="active">
                            {% if profile_user.username != user.username %}
                                <div class="like-area">
                                    <button class="like-button"><i class="fas fa-heart"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="profile-info">
                    {% if profile_user.gender == 'Male' %} <h2 style="color:blue"> <i class="fas fa-mars" style="color: blue;"></i> {{profile_user.username}} </h2> {% else %} <h2> <i class="fas fa-venus"></i> {{profile_user.username}} </h2> {% endif %}
                    <p>{{profile_user.firstname}} {{profile_user.lastname}}</p>
                    <div class="details">
                        <div>
                            {% if profile_user.gender == 'Male' %}
                                <i class="fas fa-birthday-cake" style="color: blue;"></i>
                            {% else %}
                                <i class="fas fa-birthday-cake"></i>
                            {% endif %}
                            <span>{{age}} years old</span>
                        </div>
                        <div>
                            {% if profile_user.gender == 'Male' %}
                                <i class="fas fa-map-marker-alt" style="color: blue;"></i>
                            {% else %}
                                <i class="fas fa-map-marker-alt"></i>
                            {% endif %}
                            <span>{{place}}</span>
                        </div>
                        <div>
                            {% if profile_user.gender == 'Male' %}
                                <i class="fas fa-search" style="color: blue;"></i>
                            {% else %}
                                <i class="fas fa-search"></i>
                            {% endif %}
                            <span>{{profile_user.gender}}</span>
                        </div>
                    </div>
                    <p>{{profile_user.biography}}</p>
                    <div class="tags">
                        {% for tag in interests %}
                            {% if profile_user.gender == 'Male' %}
                                <span style="color: blue; background-color: #00baff45;">{{ tag.name }}</span>
                            {% else %}
                                <span>{{ tag.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="footer">
                        <div>
                            {% if profile_user.gender == 'Male' %}
                                <i class="fas fa-heart" style="color: blue;"></i>
                                <span style="color: blue;">{{profile_user.fame_rating}}</span>
                            {% else %}
                                <i class="fas fa-heart"></i>
                                <span>{{profile_user.fame_rating}}</span>
                            {% endif %}
                        </div>

                        <div>
                            {% if profile_user.gender == 'Male' %}
                                <i class="fas fa-comment" style="color: blue;"></i>
                                <span style="color: blue;">{{profile_user.comment_count}}</span>
                            {% else %}
                                <i class="fas fa-comment"></i>
                                <span>{{profile_user.comment_count}}</span>
                            {% endif %}
                        </div>

                        <div>
                            {% if profile_user.gender == 'Male' %}
                                <i class="fa-solid fa-face-kiss-wink-heart" style="color: blue;"></i>
                                <span style="color: blue;">{{profile_user.match_count}}</span>
                            {% else %}
                                <i class="fa-solid fa-face-kiss-wink-heart"></i>
                                <span>{{profile_user.match_count}}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="who-likes-card">
                <div class="top-text">                    
                    <h2 class="head-text">Who Likes You - eyagiz</h2>
                </div>
                <div class="heart-divider">
                    <hr class="left-line">
                    <i class="fa fa-heart"></i>
                    <hr class="right-line">
                </div>
                <div class="profile-cards-container">
                    <div class="who-likes-profile-card">
                        <img src="../../static/assets/team/eyagiz.jpeg">
                        <div class="profile-info-texts">
                            <a href=""><p class="profile-name">eyagiz</p></a>
                            <div class="line-texts">
                                <p class="city-name">Kocaeli, Turkey,</p>
                                <p class="hashtag">#collapsologie #meteorites #frites</p>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="who-likes-profile-card">
                        <img src="../../static/assets/team/sciftci.jpeg">
                        <div class="profile-info-texts">
                            <a href=""><p class="profile-name">sciftci</p></a>
                            <div class="line-texts">
                                <p class="city-name">Kocaeli, Turkey,</p>
                                <p class="hashtag">#collapsologie #meteorites #frites</p>
                            </div>
                        </div>
                    </div>
                    <!-- More cards... -->
                </div>
            </div>
            
            </div>
        </div>

    </div>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="../static/js/profile.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const burgerMenu = document.getElementById('burger-menu');
        const navLinks = document.getElementById('nav-links');

        burgerMenu.addEventListener('click', function () {
            navLinks.classList.toggle('active');
        });
    });
</script>