<link rel="stylesheet" href="../static/css/signup.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico">
    <title>{{title}}</title>
</head>
<div class="container-signup">
    <div class="page-title">
        <h1>signupღ</h1>
    </div>
    <div class="page-form">
        <span class="have-account">Do you already have an account? <a href="/login">Log in</a></span>
        <div class="progress-container">
            <div class="progress-steps">
                <a onclick="navigateToFormPage('1', 'Personal Information')"><div class="progress-step active" data-step="1">1</div></a>
                <a onclick="navigateToFormPage('2', 'Additional Information')"><div class="progress-step" data-step="2">2</div></a>
                <a onclick="navigateToFormPage('3', 'Security Information')"><div class="progress-step" data-step="3">3</div></a>
            </div>
        </div>
        <h5 id="progress-text" class="progress-title">Personal Information</h5>
        <form method="POST">            
            <div id="form-page-1" class="form-page">
                <div class="form-group">
                    <div class="input-container">
                        <div class="input-field">
                            <label>
                                <input required="" placeholder="" type="text" class="input" name="username" required>
                                <span>USERNAME</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <label>
                                <input required="" placeholder="" type="email" class="input" name="email" required>
                                <span>EMAIL</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <label>
                                <input required="" placeholder="" type="text" class="input" style="width:151px !important" name="first_name" required>
                                <span>FIRST NAME</span>
                            </label>
                            <label>
                                <input required="" placeholder="" type="text" class="input" style="width:151px !important" name="last_name" required>
                                <span>LAST NAME</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <label>
                                <input required="" placeholder="" type="date" class="input" name="birthday" required>
                                <span>BIRTHDAY</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <div class="gender-text-container">
                                <span class="gender-span">SELECT YOUR GENDER</span>
                            </div>
                            <div class="radio-inputs">
                                <label>
                                    <input class="radio-input" id="woman" type="radio" name="gender" value="Female" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for WOMAN -->
                                            <img src="../../static/assets/forms-icons/woman.svg" id="woman-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="woman-text">WOMAN</span>
                                    </span>
                                </label>

                                <label>
                                    <input class="radio-input" id="man" type="radio" name="gender" value="Male" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for MAN -->
                                            <img src="../static/assets/forms-icons/man.png" id="man-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="man-text">MAN</span>
                                    </span>
                                </label>
                                <label>
                                    <input class="radio-input" id="other" type="radio" name="gender" value="Other" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for MAN -->
                                            <img src="../static/assets/forms-icons/other.png" id="man-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="other-text">OTHER</span>
                                    </span>
                                </label>
                            </div>
                            
                            
                        </div>
                        <button class="button-86" type="button" onclick="navigateToFormPage('2', 'Additional Information')" role="button">next page</button>

                    </div>
                </div>
            </div>
            <div id="form-page-2" class="form-page">
                <div class="form-group">
                    <div class="input-container">
                        <div class="input-field">
                            <label>
                                <textarea required="" placeholder="" type="text" class="textarea" name="biography" maxlength="128" required></textarea>
                                <span>BIOGRAPHY</span>
                            </label>
                        </div>
                        <div class="input-field" style="display:flex; justify-content:center;">
                            <label>
                                <input required="" readonly type="text" class="input" style="width:123px !important" name="latitude" id="latitudeForm" required>
                                <span>LATITUDE</span>
                            </label>
                            <label>
                                <a class="gps-location" onclick="gpsLocate()"><div class="loader"></div></a>
                            </label>
                            <label>
                                <input required="" readonly type="text" class="input" style="width:123px !important" name="longitude" id="longitudeForm" required>
                                <span>LONGITUDE</span>
                            </label>
                           
                        </div>
                        <div class="input-field">
                            <label>
                                <select id="mySelect" class="multipeSelector" multiple="multiple" >
                                
                                </select>
                                <span>INTERESTS</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <div class="gender-text-container">
                                <span class="gender-span">SELECT SEXUAL PREFERENCES</span>
                            </div>
                            <div class="radio-inputs">

                                <label>
                                    <input class="radio-input" id="heterosexual" type="radio" name="sexual_preferences" value="Heterosexual" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for HETEROSEXUAL -->
                                            <img src="../static/assets/forms-icons/heterosexual.png" id="heterosexual-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="heterosexual-text">HETERO</span>
                                    </span>
                                </label>

                                <label>
                                    <input class="radio-input" id="female" type="radio" name="sexual_preferences" value="Lesbian" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for WOMAN -->
                                            <img src="../../static/assets/forms-icons/lesbian.png" id="lesbian-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="lesbian-text">LESBIAN</span>
                                    </span>
                                </label>
                            
                                <label>
                                    <input class="radio-input" id="gay" type="radio" name="sexual_preferences" value="Gay" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for OTHER -->
                                            <img src="../static/assets/forms-icons/gay.png" id="gay-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="gay-text">GAY</span>
                                    </span>
                                </label>
                            
                                <label>
                                    <input class="radio-input" id="bisexual" type="radio" name="sexual_preferences" value="Bisexual" required>
                                    <span class="radio-tile">
                                        <span class="radio-icon">
                                            <!-- SVG icon for BISEXUAL -->
                                            <img src="../static/assets/forms-icons/bisexual.png" id="bisexual-img" width="24px" height="24px">
                                        </span>
                                        <span class="radio-label" id="bisexual-text">BISEXUAL</span>
                                    </span>
                                </label>
                            
                                

                            </div>
                            
                            
                        </div>
                        <button type="button" class="button-86" onclick="navigateToFormPage('3', 'Security Information')" role="button">next page</button>
                    </div>
                </div>
            </div>

            <div id="form-page-3" class="form-page" style="display: none;">

                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="password" class="input" name="password" required>
                        <span>PASSWORD</span>
                    </label>
                </div>
                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="password" class="input" name="confirmpassword" required>
                        <span>CONFIRM PASSWORD</span>
                    </label>
                </div>
                <!-- Form content for page 3 -->
                <button class="button-86" role="button" type="submit">submit</button>
            </div>
        </form>
        <div style="position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;">
            <p class="terms">By logining, you agree to our <a href="">Terms and Conditions.</a><br> Learn how we use your data in our <a href="">Privacy Policy.</a></p>
        </div>
    </div>
</div>
<script src="../static/js/signup.js"></script>