<link rel="stylesheet" href="../static/css/verify_fail.css">
<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../../static/assets/favicon.ico">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container-verify-fail">
    <div class="page-form">
        <div class="form-group">
            <div class="input-container">
                <div class="verify-fail-icon">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="verify-fail-text">
                    <p>Sorry, we couldn't verify your account. Please try again later. Go to <a href="/login">Login Page.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    Swal.fire({
                        icon: '{{ category }}',  // 'success', 'error', 'info', vb. olabilir
                        title: '{{ message }}',  // Flash mesajı
                        showConfirmButton: true,
                        timer: 5000  // Mesajın ekranda kalma süresi (milisaniye)
                    });
                    
                {% endfor %}
            {% endif %}
        {% endwith %}
    });
</script>