<link rel="stylesheet" href="../../static/css/dashboard.css">
<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="backgroundimage">
    <nav class="navbar">
        <div class="logo-container">
            <div class="logo">
                <a class="navbar-item" href="/home">
                Tinder42
              </a></div>
        </div>
        <ul class="nav-links" style="margin-top: 1em !important;">
            <li><a class="navbar-item" href="">Dashboard</a></li>
            <li><a class="navbar-item" href="">Chat</a></li>
            <li><a class="navbar-item" href="">Search</a></li>
            <li><a class="navbar-item" href="">Matcher</a></li>
            

            <li>
                <div class="profile-menu">
                    <img src="../../static/assets/team/eyagiz.jpeg" alt="Profile Picture">
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="#">Profile Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container-mid">
        <div class="content-card">
            

        </div>
    </div>

</div>
</body>