<link rel="stylesheet" href="../../static/css/login.css">
<head>
    <script src="https://kit.fontawesome.com/b80699d249.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container-login">
    <div class="page-title">
        <h1>loginღ</h1>
    </div>
    <div class="page-form">
        <span class="have-account">Don't have an account? <a href="">Sign up</a></span>
        <div class="form-group">
            <div class="input-container">
                <form method="POST">
                    <div class="input-field">
                        <label>
                            <input required="" placeholder="" type="text" class="input">
                            <span>EMAIL</span>
                        </label>
                    </div>
                    <div class="input-field">
                        <label>
                            <input required="" placeholder="" type="password" class="input">
                            <span>PASSWORD</span>
                        </label>
                    </div>
                
                    <div class="input-field">
                        <a class="forgot-pass" href="">Forgot your password?</a>
                    </div>
                    <button class="button-86" role="button">lets login</button>
                </form>
                <div class="input-field">
                    <p class="login-or">OR</p>
                </div>
                <form method="POST">
                    <div class="input-field">
                        <button class="another-btn"><img src="../../static/assets/backgrounds-layers/intra-42-white.svg"> login with Intra42</button>
                        <button class="another-btn"><i class="fa-brands fa-google"></i> login with Google</button>
                        <button class="another-btn"><i class="fa-brands fa-github"></i> login with GitHub</button>
                    </div>
                </form>
                <div style="position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;">
                    <p class="terms">By logining, you agree to our <a href="">Terms and Conditions.</a><br> Learn how we use your data in our <a href="">Privacy Policy.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>