<link rel="stylesheet" href="../../static/css/signup.css">
<div class="container-signup">
    <div class="page-title">
        <h1>Signup</h1>
    </div>
    <div class="page-form">
        <span class="have-account">Do you already have an account? <a href="">Log in</a></span>
        <div class="form-group">
            <div class="input-container">
                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>DISPLAY NAME</span>
                    </label>
                </div>
                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="email" class="input">
                        <span>EMAIL</span>
                    </label>
                </div>
                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>FULL NAME</span>
                    </label>
                </div>
                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="password" class="input">
                        <span>PASSWORD</span>
                    </label>
                </div>
                <div class="input-field">
                    <label>
                        <input required="" placeholder="" type="date" class="input">
                        <span>BIRTHDAY</span>
                    </label>
                </div>
                <div class="input-field">
                    <div class="radio-inputs">
                        <label>
                            <input class="radio-input" id="woman" type="radio" name="gender">
                            <span class="radio-tile">
                                <span class="radio-icon">
                                    <!-- SVG icon for WOMAN -->
                                    <img src="../../static/assets/forms-icons/woman.svg" id="woman-img" width="24px" height="24px">
                                </span>
                                <span class="radio-label" id="woman-text">WOMAN</span>
                            </span>
                        </label>
                        
                        <label>
                            <input checked="" class="radio-input" id="man" type="radio" name="gender">
                            <span class="radio-tile">
                                <span class="radio-icon">
                                    <!-- SVG icon for MAN -->
                                    <img src="../../static/assets/forms-icons/man.png" id="man-img" width="24px" height="24px">
                                </span>
                                <span class="radio-label" id="man-text">MAN</span>
                            </span>
                        </label>
                        
                        
                    </div>
                </div>
                <button class="signup-btn" type="text">lets match</button>
               
            </div>
        </div>
    </div>
</div>
